*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 20%;
    border: 3px solid black;

    & header{
        display: flex;
        justify-content: center;

        & div{
            padding: 10px;
            font-size: 40px;
        }
    }

    & .inputs{
        display: grid;
        grid-template-rows: (4,1fr);
        row-gap: 10px;
        justify-content: center;

        & .input{
            padding: 10px 20px;

            & input{
                padding: 10px 20px;
            }
        }

        & .submitbtn{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            & button{
                padding: 10px 20px; 
            }
        }

        border-bottom: 2px solid black;
    }

    
    

    & .action{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & button{
            border: 1px solid black;
            padding: 10px 20px;
            margin-bottom: 10px;
        }

       
    }

    & .gray{
        background-color: gray;
    }

    & .white{
        background-color: rgb(127, 127, 250);
    }

    & .res{
        display: flex;
        justify-content: center;
        color: red;
    }
}
